@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  /* Added code */
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;

  /* Added code */
  padding: 8px;
  margin-top: 15px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* Added code */

ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header {
  position: absolute;
  top: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: #eeeeee;
}
